[Desktop Entry] 
Encoding=UTF-8
Name=XMI-MSIM
Comment=A tool to predict the spectral XRF response of a sample when irradiated with an X-ray beam 
Exec=xmimsim-gui %f
Terminal=false
Type=Application
Categories=Education;Science;Physics;
Icon=Logo_xmi_msim
MimeType=application/x-xmimsim-xmsi;application/x-xmimsim-xmso;application/x-xmimsim-xmsa
